html, body {
  margin: 0;
}

#body {
	background-color: white;

  display: flex;
  flex-direction: column;

  margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;

	padding: 30px;
}

#searchbar {
  order: 1;

  flex: 0 0 10%;
  padding-bottom: 30px;
}

#search {
	font-family: Helvetica, arial, sans-serif;
	font-size: 22px;
	line-height: 1.6;
  padding-left: 10px;
}

#photos {
  order: 2;

  flex: 1 1 auto;
}
